Django

# ------------------------------------------------------------
# Dev
# ------------------------------------------------------------
# mypy
autopep8
djlint
factory_boy
faker

# ------------------------------------------------------------
# django third party
# ------------------------------------------------------------
# django-filter
# django-hosts
# django-taggit
# djangorestframework
# djangorestframework-jsonapi
# inflection
# mysqlclient
# python-dotenv
# pytz
# social-auth-app-django
# sqlparse
# tzdata
django-debug-toolbar
django-environ
django-extensions
python-dotenv

# ------------------------------------------------------------
# Other third party
# ------------------------------------------------------------
# easy-thumbnails
# pyOpenSSL
# redis
# werkzeug
colorama
ipython
markdown
pillow
responses
