{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {{ block.super }} | Cart
{% endblock title %}

{% block content %}
    <div class="p-4 bg-dshop-light-100">
        <h1 class="text-2xl text-dshop-dark-500">
            Shopping Cart
        </h1>
        <div id="alert">
 
        </div>
        <div class="grid grid-flow-row p-2 bg-dshop-gray-100" id="item-list">
            <div class="grid grid-cols-5 border-b border-dshop-gray-300">
                <div>
                </div>
                <div class="text-center text-dshop-dark-400">
                    Item Name
                </div>
                <div class="text-center text-dshop-dark-400">
                    Quantity
                </div>
                <div class="text-center text-dshop-dark-400">
                    Price
                </div>
                <div class="text-center text-dshop-dark-400">
                    Action
                </div>
            </div>

            <template id="item-template">
                <div class="grid grid-cols-5 justify-center items-center border-b border-dshop-gray-300"
                     id="item-container">
                    <div class="flex justify-center items-center w-full">
                        <img width="150" src="##image##">
                    </div>
                    <div class="text-center text-dshop-blue-500 capitalize">
                        ##name##
                    </div>
                    <div class="text-center text-dshop-yellow-500">
                        ##quantity##
                    </div>
                    <div class="text-center text-dshop-yellow-900">
                        ##price##
                    </div>
                    <div class="text-center text-dshop-yellow-400">
                        <button idx="##button##" 
                            class="py-2 px-4 font-bold text-white bg-red-500 rounded hover:bg-red-400">
                            Remove
                        </button>
                    </div>
                </div>
            </template>

            <div class="w-full" id="cart-item-list">

            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'shop/js/base.js' %}"></script>
    <script>
        $(document).ready(function() {
            const myAlert = AlertFactory("#alert")

            // ------------------------------------------------------------
            // Store
            // ------------------------------------------------------------
            const Store = CreateStore({
                data: {
                    apiCartItems: "{% url 'cart:get_cart_items' %}",
                    apiRemoveItemFromCart: "{% url 'cart:remove_cart_item' %}",
                    cartItemsList: [],
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": "{{ csrf_token }}",
                    },
                },
                init(state) {
                    state.actions.getCartItems()
                },
                actions: {
                    async getCartItems(data) {
                        try {
                            const response = await fetch(data.apiCartItems, {
                                method: "GET",
                                headers: data.headers,
                            });

                            // Check for HTTP errors
                            if (!response.ok) {
                                // If the response includes a JSON payload with an error message, you can parse it
                                const errorData = await response.json();
                                const errorMessage = errorData.message || `HTTP error! status: ${response.status}`;
                                throw new Error(errorMessage);
                            }

                            const jsonData = await response.json();
                            data.cartItemsList = jsonData.items;
                            // console.log(data.cartItemsList);
                        } catch (error) {
                            // This block will catch both network errors and the errors thrown above
                            console.error('There was a problem fetching the data:', error.message);
                        }
                    },
                    async removeItemFromCart(data, actions, itemId) {
                        const response = await fetch(data.apiRemoveItemFromCart, {
                            method: "POST",
                            headers: data.headers,
                            body: JSON.stringify({
                                product_id: itemId,
                            })
                        })

                        console.log(itemId)

                        if (!response.ok) {
                            const errorData = await response.json();
                            const errorMessage = errorData.message || `HTTP error! status: ${response.status}`;
                            myAlert.error(errorMessage)
                        }

                        actions.getCartItems()
                    },
                },
            })

            // ------------------------------------------------------------
            // Cart Items
            // ------------------------------------------------------------
            const ItemFactory = (item) => {
                const itemHtml = $('#item-template').html()
                const itemReplacedContent = itemHtml
                    .replace("##image##", item.product.image)
                    .replace("##name##", item.product.name)
                    .replace("##quantity##", item.quantity)
                    .replace("##price##", item.price)
                    .replace("##totalPrice##", item.total_price)
                    .replace("##button##", item.product.slug)

                const newItem = $(itemReplacedContent)

                newItem.attr("id", `${item.product.id}-${item.product.slug}`)

                return newItem
            }

            const cartItemList = Component({
                el: '#cart-item-list',
                itemFactory: ItemFactory,
                store: Store,
                init() {
                    this.store.subscribe('cartItemsList', (data) => {
                        this.render(data)
                    })
                },
                render(data) {
                    this.clean()
                    store = Store.getState()

                    for (const item of data.cartItemsList) {
                        const newItem = this.itemFactory(item)
                        newItem.find("[idx='" + item.product.slug + "']").on("click", function() {
                            store.actions.removeItemFromCart(item.product.id)
                        })
                        this.el.append(newItem)
                    }
                },
                clean() {
                    this.el.empty()
                },
            })
        })
    </script>
{% endblock scripts %}
